select.mobile_L{
    display: none;
}
.ssb{
    display: none;
}
span.link{
    display:none;
}
@media (max-width:529px) {
    body::before{
        content:"mobile_L";
        display: none;
    }
    table.table img.img_panier_product{
        height: 50px;
    }
    table.table .subtittle{
        display: none;
    }
    a.btn.btn-success.btn-block{
        width: 100%;
        margin-top: 10px;
    }
    a.btn.btn-danger.btn-block{
        width: 100%;
        margin-top: 10px;
    }
    a.icon_manage_quantity{
        display: none !important ;
    }
    span.up_to_mobile_L{
        display: none !important ;
    }
    select.mobile_L{
        display: block;
    }
    span.link{
        display:block !important ;
    }
}