.social_media{
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.social_media img {
    margin-bottom: 10px;
}

.social_media .link_img:hover {
    position: relative;
    top:1.5px;
}

.social_media .text_magic{
    margin-left: 2px;
    opacity: 0;
}